/* color codes
 black: #333333
 greenish-blue: #00cccc
 greish: # 
 */


*{margin: 0; padding:0;}
html{
    font-size: 16px;
}

.pr-header{
    height: 41.875rem;
    padding: 0px;
    border-radius: 0px ;
    -webkit-border-radius: 0px ;
    -moz-border-radius: 0px ;
    -ms-border-radius: 0px ;
    -o-border-radius: 0px ;
}

.pr-navBar{
    height: 5.625rem;
    margin: 0; 
    padding-left: 6.1875rem;
    padding-right: 4.8125rem;
}

.nav-link{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 0.75rem;
    letter-spacing: .15rem;
    color: #333 !important;

    padding: 0px !important;
    margin-right: 2rem; 
}

.nav-link:hover{
    color:  #00cccc!important;
}
.active .nav-link{
    color:  #00cccc!important;
}
.pr-logo{
    height: 1.9375rem;
    width: 1.5625rem;
    object-fit: contain;
}

.pr-headerContent{
    width: 30rem;
    margin-right: 9.5rem;
    padding-top: 8.25rem

}

.pr-headerContent p{
    font-family: 'Nunito Sans', sans-serif;
    color: #666666 !important;
    font-size: 1.125rem;
    line-height: 1.75rem;
    letter-spacing: .00005625rem;
    font-weight: 300;
    margin-bottom: 1.5rem;

}

.pr-headerContent h3{
    font-size: 2.375rem;
    letter-spacing: .00005625rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.pr-button{
    font-family: 'Montserrat', sans-serif;
    font-size: .75rem; font-weight: 600;
    letter-spacing: .15rem; 

    width: 11.25rem;
    height: 3.375rem; 
    background-color: #00cccc;
    color: #fff;
    border: none;
    outline: none;
    box-shadow: none;
}

.pr-button:focus{
    outline: none;
    box-shadow: none;
}
.pr-button:hover{
    box-shadow:  0.0625rem 0.0625rem 0.3125rem #333 
}

.pr-aboutUs{
    height: 26.125rem
}
.pr-aboutUs h3{
    font-family: "Montserrat", sans-serif;
    font-size: 1.875rem;
    font-weight: 600;
    letter-spacing: 0.01875rem;
    margin-bottom: 2.5rem;
    line-height: 1
}

.pr-aboutUs p{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 300;
    font-size: 1rem; 
    text-align: center;
    color: #666666;

    width: 39rem;
    letter-spacing: 0.009375rem;
    margin-bottom: 2.375rem;
}

.pr-aboutUs img{
    width: 14rem;
    height: 3.5625rem;
    object-fit: contain
}

.pr-professionalSkills{
    height: 35.625rem;
}

.pr-professionalSkills > div:nth-child(1){
    background-color: #f8f9f9;
}

.pr-professionalSkills > div:nth-child(2){
    background-color: #e9e9e9;
}
.pr-professionalSkills--container{
    width: 73%;
}

.pr-professionalSkills--container h3{
    font-size: 1.875rem;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.01875rem;
    font-weight: 600; line-height: 1;

    margin-bottom: 2.375rem;
}
.pr-professionalSkills--container span{
    font-family:  "Montserrat", sans-serif;
    font-weight: 600;
    font-size: .75rem;
    letter-spacing: .15rem; 
    color: #000000;
    line-height: 1;
    margin-bottom: 1.25rem;
    display: block
}
.pr-professionalSkills--item{
    margin-bottom: 2.5625rem;
}
.pr-progressBar{
    background-color: #00cccc
}

.pr-projectsCompletion{
    height: 15rem;
    background-color: #00cccc;
    color: #fff;
}

.pr-projectsCompletion-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 17rem;
    margin-right: 6.25rem;

}
.pr-projectsCompletion-item div{
    display: flex; 
    flex-direction: column;
    margin-left: 1.8125rem;
}

.pr-projectsCompletion-item img{
    height: 2.8125rem;
    width: 3.125rem;
}
.pr-projectsCompletion-item--number{
    font-size: 1.125rem;
    font-family:  "Montserrat", sans-serif;
    font-weight: 600;
    letter-spacing: 0.03375rem; line-height: 1;
    margin-bottom: 1rem;
}
.pr-projectsCompletion-item--label{
    font-family:  "Montserrat", sans-serif;
    font-weight: 300;
    font-size: .75rem;
    letter-spacing: .15rem; 
    line-height: 1
}

.pr-ourWorks{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pr-ourWorksContainer{
    height: 37.5rem;
    width: 85.375rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.pr-ourWorksItem{
    width: 21.34375rem; height: 18.75rem;
}
.u-dark{
    background-color: #333
}
.u-light{
    background-color: #e9e9e9
}

.pr-ourWorks--button{
    height: 6.25rem; width: 100%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    color: #999999;
    font-family:  "Montserrat", sans-serif;
    font-weight: 300;
    font-size: .75rem;
}
.pr-ourWorks--button:hover{
    text-decoration: none;
    color: #00cccc  ;
}
.pr-workProcess{
    height: 58rem; 
}

.pr-workProcess-div h3{
    font-family:  "Montserrat", sans-serif;
    font-weight: 600;
    letter-spacing: 0.01875rem;
    font-size: 1.875rem;
    line-height: 1;
    margin-bottom: 2.5rem; 
}
.pr-workProcess-div p{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 300;
    color: #333;
    font-size: 1rem;
    letter-spacing: .005rem;
    margin-bottom: 3.625rem;
    width: 31.5625rem;
    text-align: center
}

.pr-workProcess{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pr-workProcess-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pr-wordPress-player{
    width: 73.125rem;
    height: 35.6875rem;
    background-color: #e9e9e9;
    display: flex;
    justify-content: center;
    align-items: center
}

.pr-playIcon{
    background-color: #00cccc;
    border-radius: 50%;
    height: 5.3125rem;
    width: 5.3125rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pr-badgesSection{
    background-color: #f5f5f5;
    height: 33.4375rem;
}
.pr-badgeSection-container{
    width: 73.125rem;
}
.pr-badgeItem{
    width: 14.75rem; 
    margin-right: 4.5625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pr-badgeItem h6{
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 0.75rem; font-weight: 600;
    letter-spacing: 0.075rem;
    color: #000;
    margin-bottom: 1.25rem;
}

.pr-badgeItem p{
    font-family: "Nunito Sans", sans-serif;
    color: #666666;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.005rem;
    text-align: center;
}
.pr-badgeItem img{
    margin-bottom: 1.5625rem
}

.pr-quoteSection{
    height: 31.25rem;
}
.pr-quoteCarousal{
    background-color: #00cccc
}

.pr-carouselItem{
    height: 100%;
   
}
.pr-carouselItem div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 52rem;
    align-items: center;
}
.pr-carouselItem p{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: .015rem;
    color: #fff;
    text-align: center;
    margin-bottom: 2.1875rem; 
}
.pr-carouselItem span{
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-weight: 500;
    font-size: .75rem;

    letter-spacing: .075rem;
}
.pr-navCircles{
    margin-bottom: 3.75rem !important;
    align-items: center;
}
.pr-navCircles li{
    height: .375rem;
    width: .375rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.pr-navCircles .active{
    height: .625rem;
    width: .625rem;
    border-radius: 50% ;
    -webkit-border-radius: 50% ;
    -moz-border-radius: 50% ;
    -ms-border-radius: 50% ;
    -o-border-radius: 50% ;
}